<!DOCTYPE html>

<html>
    <head>
        <title>About</title>
        <link rel="stylesheet" href="./css/styles.css">
    </head>

    <body>
        <div class = "main-content">
            {{>header}}
            <p>This is a training site created by Des Loubser. It uses data from mapbox.com and darksky.net</p>
            <img class = "portait" src = "/img/profilepic2.gif">
        </div>
        {{>footer}}
    </body>
</html>